@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

:root {
    --Purples: Rocher;
}

h1 {
    font-size: 30pt;
    width: 70%;
    font-family: var(--Purples);
    text-align: center;
    margin: 20px auto; 
}

h2{
    font-size: 18px;
    text-align: center;
    margin: 20px auto; 
}

p{
    font-size: 17px;
    display: block;
    margin: 20px auto; 
    text-align:center;
    color: blueviolet;
    width: 70%; 
    max-width: 500px; 
}
  